<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-12 offset-3">
        <div class="card col-sm-6 mt-4">
          <div class="card-header">
            <div class="title signup">Signup Form</div>
          </div>
          <div class="card-body">
            <form action="#" class="login">
              <div class="field">
                <input
                  type="email"
                  id="email"
                  name="Email"
                  placeholder="Email Address"
                  class="form-control"
                  #email="ngModel"
                  [class.is-invalid]="email.invalid"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  ngModel
                  required
                />
                <div
                  *ngIf="email.errors && (email.valid || email.touched)"
                  class="err"
                >
                  <span
                    class="text-danger"
                    *ngIf="email.errors && email.errors['required']"
                    >Email is Required</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="email.errors && email.errors['pattern']"
                    >Invalid Email Id</span
                  >
                </div>
              </div>
              <div class="field">
                <input
                  type="password"
                  id="pwd"
                  name="password"
                  placeholder="Password"
                  class="form-control"
                  #pwd="ngModel"
                  [class.is-invalid]="pwd.invalid"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
                  ngModel
                  required
                />
                <div
                  *ngIf="pwd.errors && (pwd.valid || pwd.touched)"
                  class="err"
                >
                  <span
                    class="text-danger"
                    *ngIf="pwd.errors && pwd.errors['required']"
                    >Password is Required</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="pwd.errors && pwd.errors['pattern']"
                  >
                    <p>
                      Password must contain at least one number, one uppercase
                    </p>
                    <br />
                    <p>and a lowercase letter and at least 8 characters</p>
                    <p><br />Password cannot contain whitespace</p></span
                  >
                </div>
              </div>
              <div class="field">
                <input
                  type="password"
                  id="cnpwd"
                  name="confirmpassword"
                  placeholder="Confirm Password"
                  class="form-control"
                  #cnpwd="ngModel"
                  [class.is-invalid]="cnpwd.invalid"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
                  ngModel
                  required
                />
                <div
                  *ngIf="cnpwd.errors && (cnpwd.valid || cnpwd.touched)"
                  class="err"
                >
                  <span
                    class="text-danger"
                    *ngIf="cnpwd.errors && cnpwd.errors['required']"
                    >Confirm Password is Required</span
                  >
                </div>
              </div>
              <div class="mb-3 field-btn">
                <input
                  type="submit"
                  value="Signup"
                  class="col col-sm-3 btn btn-info"
                  routerLink="/register"
                  routerLinkActive="active"
                />
                <input
                  type="reset"
                  value="Reset"
                  class="col col-sm-3 btn btn-warning"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div id="msg">
              You are already registred?
              <a routerLink="/login" routerLinkActive="active" id="log"
                >Login</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
